@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-nsw {
  font-family: "Playwrite AU NSW", cursive;
}

/* Swiper navigation style */
.swiper-button-prev {
  color: #36a853 !important;
  /* font-size: 10px !important;
  size: 20px !important;
  background-color: #36a853;
  border-radius: 10px;
  padding: 10px !important; */
  /* margin: 10px !important; */
}
.swiper-button-next {
  color: #36a853 !important;
  /* font-size: 10px !important;
  size: 20px !important;
  background-color: #36a853;
  border-radius: 10px;
  padding: 10px !important; */
}
.bg-hover {
  background-color: #30984a;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #fff;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
